public/example4_workflow.json
[
    {
        "id": "b005e001.79aba",
        "type": "inject",
        "z": "807fbb04.026fe8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "36981b85.f8f424"
            ]
        ]
    },
    {
        "id": "36981b85.f8f424",
        "type": "function",
        "z": "807fbb04.026fe8",
        "name": "1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "adf11ec2.c2696"
            ]
        ]
    },
    {
        "id": "adf11ec2.c2696",
        "type": "function",
        "z": "807fbb04.026fe8",
        "name": "2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 120,
        "wires": [
            [
                "8606b22d.04908"
            ]
        ]
    },
    {
        "id": "8606b22d.04908",
        "type": "function",
        "z": "807fbb04.026fe8",
        "name": "3",
        "func": "\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "x": 770,
        "y": 260,
        "wires": [
            [
                "57274ea8.5c1f3"
            ],
            [
                "88694f51.c9cb9"
            ]
        ]
    },
    {
        "id": "88694f51.c9cb9",
        "type": "function",
        "z": "807fbb04.026fe8",
        "name": "4",
        "func": "\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "x": 270,
        "y": 480,
        "wires": [
            [
                "adf11ec2.c2696"
            ],
            [
                "66a5b4b6.11a04c"
            ]
        ]
    },
    {
        "id": "57274ea8.5c1f3",
        "type": "http response",
        "z": "807fbb04.026fe8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 260,
        "wires": []
    },
    {
        "id": "66a5b4b6.11a04c",
        "type": "function",
        "z": "807fbb04.026fe8",
        "name": "5",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 540,
        "wires": [
            [
                "8606b22d.04908"
            ]
        ]
    }
]
